@model Momon.Biju.Web.Areas.Cart.Models.DetailsToPurchase

<form asp-area="Cart" asp-controller="Cart" asp-action="FinishPurchase" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Comments" class="form-label"></label>
        <textarea asp-for="Comments" class="form-control" rows="3" style="resize:none;"></textarea>
        <span asp-validation-for="Comments" class="text-danger"></span>
    </div>

    <hr />

    <div class="d-grid gap-2">
        <input type="submit" value="Finalizar a compra" class="btn btn-success" @(@Model.CanPurchase ? "" : "disabled") />

        <a asp-controller="Product" asp-action="Index" class="btn btn-sm btn-outline-primary">
            <i class="bi bi-arrow-left-circle"></i> Continuar comprando
        </a>
    </div>
</form>