@using X.PagedList.Mvc.Core
@model Momon.Biju.Web.ViewModels.Products.ListProductsToOrderViewModel

@{
    ViewBag.Title = "Bijouterias";
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/product.css" />
}

<div class="row">
    <div class="col-md-3 mt-3">
        <!-- Mobile (accordion, collapsed by default) -->
        <div class="d-md-none mb-3">
            @await Component.InvokeAsync("FilterProducts", new { isMobile = true })
        </div>

        <!-- Desktop (always expanded) -->
        <div class="d-none d-md-block mb-3">
            @await Component.InvokeAsync("FilterProducts", new { isMobile = false })
        </div>
    </div>

    <div class="col-md-9">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="d-flex justify-content-center mt-4">
                @Html.PagedListPager(Model.Products, PageNumber => Url.Action("Index", new
                    {
                        PageNumber
                    }),
                    new PagedListRenderOptions
                    {
                        DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                        DisplayLinkToLastPage = PagedListDisplayMode.Always,
                        DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                        DisplayLinkToNextPage = PagedListDisplayMode.Always,
                        DisplayLinkToIndividualPages = true,
                        MaximumPageNumbersToDisplay = 5,
                        UlElementClasses = ["pagination"],
                        LiElementClasses = ["page-item"],
                        PageClasses = ["page-link"]
                    }
                )
            </div>
        </div>
        <hr/>
        <div id="product-list-container">
            <div class="row">
                @foreach (var product in Model.Products)
                {
                    <div class="col-6 col-md-4 mb-4">
                        @await Html.PartialAsync("_ProductCard", product)
                    </div>
                }
            </div>
        </div>
    </div>
</div>


