@model IEnumerable<ProductInListDto>


<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4 mb-4">
            @await Html.PartialAsync("_ProductCard", product)
        </div>
    }
</div>