@model Momon.Biju.Web.Dtos.FilterProductsInListDto

<form id="filter-products-form" method="get" asp-area="Admin" asp-controller="Product" asp-action="Index">

    <input type="hidden" asp-for="PageSize" />
    
    <div class="card p-3 mb-3">
        <h5>Filtrar Produtos</h5>
        
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control"/>
        </div>

        <div class="mb-4">
            <label asp-for="SelectedCategoryId" class="form-label"></label>
            <select asp-for="SelectedCategoryId" asp-items="Model.Categories" class="form-select">
                <option value="">Categoria</option>
            </select>
        </div>

        <div class="mb-4">
            <label asp-for="SelectedSubCategoryId" class="form-label"></label>
            <select asp-for="SelectedSubCategoryId" asp-items="Model.SubCategories" class="form-select">
                <option value="">Subcategoria</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Filtrar</button>
    </div>
</form>