@model ListProductViewModel

@{
    ViewBag.Title = "Bijouterias";
    Layout = "_Layout";
}

@section Styles {
    <link rel="stylesheet" href="~/css/product.css" />
}

<div class="row">
    <div class="col-md-3">
        @await Html.PartialAsync("_ProductFilter", Model.Filter)
    </div>

    <div class="col-md-9">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <a asp-action="Create" class="btn btn-success">
                <i class="bi bi-plus-lg"></i> Create Product
            </a>
            <div>
                Pagination...
            </div>
        </div>
        <hr/>
        <div id="product-list-container">
            @await Html.PartialAsync("_ProductList", Model.Products)
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/filter-products.js"></script>
}