@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Momon.Biju.Web.Areas.Cart.Models.DetailsToPurchase

<form id="finish-purchase" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AdditionalInformation" class="form-label"></label>
        <textarea asp-for="AdditionalInformation" style="resize:none;" rows="3" class="form-control" placeholder="Informação adicional"></textarea>
        <span asp-validation-for="AdditionalInformation" class="text-danger"></span>
    </div>

    <hr />

    <div class="form-group">
        <button type="submit" value="Salvar" class="btn btn-primary"></button>
    </div>
    <a asp-action="Index" class="btn btn-secondary ms-2">Cancel</a>

    <a id="whatsapp-link" target="_blank" style="display:none;"></a>
</form>