.file-upload {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.custom-file-input {
    display: none;
}

.custom-file-label {
    display: inline-block;
    padding: 10px 15px;
    background-color: #858585;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    width: fit-content;
}

.custom-file-label:hover {
    background-color: #757575;
}

.file-name {
    font-style: italic;
    color: #333;
}

.error-message {
    color: red;
    font-size: 0.9em;
}
